<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">Index</a>
    </header>
    <div class="container">
        <h1>1. Random Thoughts and Opinions</h1>
        <h2>2. New Haven pizza is better than New York pizza</h2>
        <h2>3. Console gaming is better than PC gaming</h2>
        <h2>4. Taylor Swift didn't ruin football, people are just mad that their wives want to watch with them</h2>
        <h2>5. Professor Phippen doesn't have a rate my professor score, so if we want, we can trick people into thinking she's a bad teacher</h2>
        <h2>6. CW Flash should have ended after season 3</h2>
        
    </div>
</body>
</html>
